
		<section class="principal">
			<div class="principal-img">
				<img src="./images/profile.jpg" alt="Yonis Esquivel" title="Yonis Esquivel">
			</div>
			<div class="principal-title">
				<h1 class="principal-title-1">Yonis Esquivel</h1>
				<h1 class="principal-title-2">Desarrollador Web</h1>
				<div class="principal-title-social">
					<a href="https://github.com/yonisesquivel" class="fa fa-github principal-title-social-github" target="_blank"></a>
					<a href="https://twitter.com/YonisAmady" class="fa fa-twitter principal-title-social-facebook" target="_blank"></a>
				</div>
			</div>
		</section>
		<section class="aboutme">
			<article class="aboutme-proyect">
				<p>Proyectos</p>
			</article>
			<article class="aboutme-profile">
				<div class="aboutme-profile-text">
					<div>
					<p>Tecnólogo en Desarrollo de Software de la Universidad Tecnológica de Bolívar. Continúo mis estudios de programación en <a href="http://platzi.com/" target="_blank">Platzi</a>, una plataforma genial de educación online.</p>
					<p>Apasionado por la programación, me gusta probar las nuevas tecnologías y tener mente abierta con respecto a estas.</p>
					</div>
				</div>
				<div class="aboutme-profile-img">
				</div>
			</article>
			<article class="aboutme-studies slider">
				<div class="aboutme-studies-slider">
					<div class="aboutme-studies-slider-img">
						<img src="./images/1.jpg" alt="">
					</div>
					<div class="aboutme-studies-slider-text">
						<div>
							<p>Tecnológo en Desarrollo de Software</p>
							<p><a href="http://www.unitecnologica.edu.co/" target="_blank">UTB</a></p>
							<p>2015</p>
						</div>
					</div>
				</div>
				<div class="aboutme-studies-slider">
					<div class="aboutme-studies-slider-img">
						<img src="./images/2.jpg" alt="">
					</div>
					<div class="aboutme-studies-slider-text">
						<div>
							<p>Carrerra de Frontend</p>
							<p><a href="http://platzi.com/" target="_blank">Platzi</a></p>
							<p>2016</p>
						</div>
					</div>
				</div>
				<div class="aboutme-studies-slider">
					<div class="aboutme-studies-slider-img">
						<img src="./images/3.jpg" alt="">
					</div>
					<div class="aboutme-studies-slider-text">
						<div>
							<p>Java Profesional</p>
							<p><a href="http://platzi.com/" target="_blank">Platzi</a></p>
							<p>2015</p>
						</div>
					</div>
				</div>
			</article>
		</section>		

	<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script type="text/javascript" src="./scripts/slick.min.js"></script>
	<script src="./scripts/scripts.js"></script>