<body>
	<section class="main screen">
		<div class="main-title">
			<div class="main-title-text">
				<h1 class="color-link font-title">Yonis Esquivel</h1>
				<h2 class="color-link font-title">Desarrollador Web</h2>	
			</div>				
			<div class="main-title-link">
				<a href="https://github.com/yonisesquivel" class="link color-link main-title-link-a1" target="_blank"><i class="fa fa-github mouse" aria-hidden="true"></i></a>
				<a href="https://twitter.com/YonisAmady" class="link color-link main-title-link-a2" target="_blank">
					<i class="fa fa-twitter mouse" aria-hidden="true"></i>
				</a>
				<a href="https://platzi.com/@yegesquivel/" class="link color-link main-title-link-a3" target="_blank"><i class="icon-platzi mouse"></i></a>
			</div>
		</div>	
		<div class="main-image">
			<img src="images/profile.jpg" alt="">
		</div>
	</section>
	<section class="profile screen">
		<div class="profile-text">
			<p class="profile-text-p1">Tecnólogo en Desarrollo de Software de la Universidad Tecnológica de Bolívar. Continúo mis estudios de programación en <a href="http://platzi.com/" target="_blank" class="link color-link1 mouse1">Platzi</a>, una plataforma genial de educación online.</p>
			<p class="profile-text-p2">Apasionado por la programación, las nuevas tecnologías y tener mente abierta con respecto a estas.</p>
		</div>
		<div class="profile-img">
			<img src="./images/bj-profile.jpg" alt="">
		</div>
	</section>
	<section class="studies slider screen">
		<div class="studies-slider">
			<div class="studies-slider-img">
				<img src="./images/1.jpg" alt="">
			</div>
			<div class="studies-slider-text">
				<p>Tecnológo en Desarrollo de Software</p>
				<p><a href="http://www.unitecnologica.edu.co/" target="_blank" class="link color-link1 mouse1">UTB</a></p>
				<p>2015</p>
			</div>
		</div>
		<div class="studies-slider">
			<div class="studies-slider-img">
				<img src="./images/2.jpg" alt="">
			</div>
			<div class="studies-slider-text">
				<p>Carrerra de Frontend</p>
				<p><a href="http://platzi.com/" target="_blank" class="link color-link1 mouse1">Platzi</a></p>
				<p>2016</p>
			</div>
		</div>
		<div class="studies-slider">
			<div class="studies-slider-img">
				<img src="./images/3.jpg" alt="">
			</div>
			<div class="studies-slider-text">
				<p>Java Profesional</p>
				<p><a href="http://platzi.com/" target="_blank" class="link color-link1 mouse1">Platzi</a></p>
				<p>2015</p>
			</div>
		</div>	
	</section>
	</footer>	
</body>